<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Farol Onboard</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="style/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="scripts/user.js"></script>
    <script src="scripts/util.js"></script>


</head>

<body>


    <form action="/" method="get" id="form">
    </form>
    
    <script>
        
        
        
        function submitform() {
            document.forms["form"].submit();
        }
        deleteSession('userInfo');
        submitform();
        

    </script>
    
</body>

</html>
