<!DOCTYPE html>
<html>

<head>
    <title>Farol Onboard</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="style/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="/style/form.css" />
    <link rel="stylesheet" href="/style/timeline.css" />

    <link rel="stylesheet" href="/style/tabs.css" />


    <!--    Calendario-->
    <link rel="stylesheet" href="style/jquery-ui.css" />
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery-1.8.2.js"></script>
    <script src="scripts/jquery-ui.js"></script>
    <!--    Fim Calendario-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>
    <script src="scripts/materialize.js"></script>
    <script src="scripts/user.js"></script>

    <!--    <script src="scripts/timeline.js"></script>-->

    <!--    <script src="scripts/xls.js"></script>-->
    <style>
        td {
            /* CSS3 */
            white-space: pre-wrap;
            /* Firefox */
            white-space: -moz-pre-wrap;
            /* Opera <7 */
            white-space: -pre-wrap;
            /* Opera 7 */
            white-space: -o-pre-wrap;
            /* IE */
            word-wrap: break-word;
            word-break: break-all;
        }
        
        // Class for when element is above threshold
        .pin-top {
            position: relative;
        }
        
        // Class for when element is below threshold
        .pin-bottom {
            position: relative;
        }
        
        // Class for when element is pinned
        .pinned {
            position: fixed !important;
        }

    </style>


    <script>
        $(document).ready(function() {
            $('ul.tabs').tabs();
        });

        $('.pushpin-demo-nav').each(function() {
            var $this = $(this);
            var $target = $('#' + $(this).attr('data-target'));
            $this.pushpin({
                top: $target.offset().top,
                bottom: $target.offset().top + $target.outerHeight() - $this.height()
            });
        });

    </script>
    <script src="scripts/userPanel.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <header>
        <script>
            $(document).ready(function() {
                var obj = (getSession('userInfo'));

                document.getElementById('emailUser').innerHTML = "&nbsp; &nbsp; Email: &nbsp;" + obj.emailaddress;
                document.getElementById('nameUser').innerHTML = "&nbsp; Usuario: &nbsp; &nbsp;" + obj.cn;

            })

        </script>

        <nav class="pushpin-demo-nav pinned blue darken-4" role="navigation" style="z-index: 999999 !important;">
            <div class="nav-wrapper">
                <!--                Alterar href para a pagina hosteada no bluemix, atualmente é para local-->
                <a style="margin-left: 20px;" class="breadcrumb" href="/onboarduserp">Suas informações: </a>

                <div style="margin-right: 20px;" id="timestamp" class="right">
                    <ul class="right hide-on-med-and-down">
                        <li class="breadcrumb" id="emailUser"> </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li class="breadcrumb" id="nameUser"></li>
                    </ul>
                </div>
                <ul id="tabs-swipe-demo" class="tabs" style="overflow: hidden;">
                    <li class="tab col s2"><a href="#test-swipe-1" class=" active black-text text-darken-2">Overview</a></li>
                    <li class="tab col s2"><a class="black-text text-darken-2" href="#test-swipe-2">Dates</a></li>
                    <li class="tab col s2"><a href="#test-swipe-3" class="black-text text-darken-2">Names</a></li>
                    <li class="tab col s2"><a href="#test-swipe-4" class="black-text text-darken-2">Status</a></li>
                    <li class="tab col s2"><a href="#swipe-historic" class="black-text text-darken-2">Historic</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="row">
            <section class="main">
                <div class="container1">
                    <div class="row">
                        <!--                        Historic Tab -->
                        <div class="col-xs-6" id="swipe-historic">


                            <!-- Page Layout here -->

                            <!-- Cards container -->

                            <!--                            <div class="col s12 m12 l8">-->

                            <div class="row">
                                <% if (project.history !== undefined ){ %>
                                    <% for (var key in project.history) { %>
                                        <form action="#" method="post">
                                            <fieldset>
                                                <section id="cd-timeline" class="cd-container">

                                                    <h2>Update at:
                                                        <%= project.history[key].lastUpdated %>
                                                    </h2>
                                                    <p>
                                                        <b> Situation was </b>
                                                        <span class="circle <%= project.history[key].situation %> large "></span>
                                                    </p>
                                                    <p>
                                                        <b>Last Actions: </b>
                                                        <%= project.history[key].story %>
                                                    </p>
                                                    <p>
                                                        <b>G2G: </b>
                                                        <%= project.history[key].g2g %>
                                                    </p>
                                                    <p>
                                                        <b>Owner: </b>
                                                        <%= project.history[key].owner %>
                                                    </p>
                                                    <!-- cd-timeline-content -->
                                                    <!-- cd-timeline-block -->
                                                </section>
                                                <!-- cd-timeline -->
                                            </fieldset>
                                        </form>


                                        <% } %>


                                            <% } %>


                            </div>


                        </div>

                    </div>

                </div>

                <!--                       Overview Tab -->
                <div class="col-xs-6" id="test-swipe-1">

                    <form action="#" method="post">
                        <fieldset>
                            <!--                                    <span class="card-title" style="text-align: center !important; font-size: 16pt !important;"> Edite seu projeto</span>-->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="formulario">Client Name </label>
                                    <input type="text" name="customer" class="form-control" value="<%= project.history[0].customer %>" readonly>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-4">
                                    <label for="formulario">Offer </label>
                                    <input type="text" name="customer" class="form-control" value="<%= project.history[0].offer %>" readonly>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="formulario">Customer </label>
                                    <input type="text" name="customer" class="form-control" value="<%= project.history[0].customer %>" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="formulario">IMT/Market </label>
                                    <input type="text" name="imt" class="form-control" value="<%= (project.history[0].market).toUpperCase() %>" readonly>
                                </div>
                            </div>



                        </fieldset>
                    </form>
                </div>
                <!--                        Dates Tab            -->
                <div class="col-xs-6" id="test-swipe-2">
                    <ul id="tabs-swipe-demo" class="tabs" style="overflow: hidden;">
                        <li class="tab col s6 " style="border-top: 1px solid black ; "><a href="#test-swipe-7" class=" active black-text text-darken-2">CDD</a></li>
                        <li class="tab col s6 " style="border-top: 1px solid black ; "><a href="#test-swipe-9" class=" black-text text-darken-2">Dates</a></li>

                    </ul>
                    <div class="col-xs-6" id="test-swipe-7">

                        <form action="#" method="post">

                            <table class="responsive-table striped">
                                <thead>
                                    <tr class=" blue lighten-2" id="tablegr">
                                        <% for (var cdd0 in project.history[0].cdd0) { %>
                                            <th id="tablegr">
                                                <%= project.history[0].cdd0[cdd0]%>
                                            </th>
                                            <% } %>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <% for (var key in project.history[0].cdd1) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd1[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd1[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>


                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd2) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd2[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd2[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd3) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd3[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd3[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd4) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd4[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd4[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd5) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd5[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd5[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd6) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd6[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd6[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd7) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd7[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd7[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd8) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd8[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd8[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd9) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" blue lighten-2" id="tablegr">
                                                    <%= project.history[0].cdd9[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd9[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd10) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" light-green accent-3" id="tablegr">
                                                    <%= project.history[0].cdd10[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr">
                                                        <%= project.history[0].cdd10[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd11) { %>

                                            <% if (key == 0 ) { %>
                                                <td class="red darken-4" id="tablegr">
                                                    <%= project.history[0].cdd11[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr" class=" lime accent-2">
                                                        <%= project.history[0].cdd11[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd12) { %>

                                            <% if (key == 0 ) { %>
                                                <td class=" red darken-4" id="tablegr">
                                                    <%= project.history[0].cdd12[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr" class=" lime accent-2">
                                                        <%= project.history[0].cdd12[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                    <tr>
                                        <% for (var key in project.history[0].cdd13) { %>

                                            <% if (key == 0 ) { %>
                                                <td class="red darken-4" id="tablegr">
                                                    <%= project.history[0].cdd13[key] %>
                                                </td>
                                                <% } else {%>

                                                    <td id="tablegr" class=" lime accent-2">
                                                        <%= project.history[0].cdd13[key] %>
                                                    </td>
                                                    <% } %>
                                                        <% } %>

                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>


                    <div class="col-xs-8" id="test-swipe-9">
                        <div class="form-group">
                            <div class="col-md-4">
                                <p>Data: <input name="DATE" type="text" id="calendario" value="12/01/2017" readonly /></p>

                            </div>
                        </div>

                        <!--                                        Calendar-->
                        <div class="form-group">
                            <div class="col-md-4">

                                <p>ETA: <input name="eta" type="text" id="calendario2" value="13/01/2017" readonly /></p>

                            </div>
                        </div>
                    </div>
                </div>
                <!--                                    Names Tab-->
                <div class="col-xs-6" id="test-swipe-3">
                    <form action="#" method="post">
                        <fieldset>
                            <!--                                        Seller Row-->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Seller Name" id="name_seller" type="text" class="validate" value="<%= project.history[0].names.seller.name %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.seller.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.seller.idnotes %> " readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %> " readonly>
                                </div>
                            </div>
                            <!--                                        TechSeller Row-->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Tech Seller Name" id="name_seller" type="text" class="validate" readonly value="<%= project.history[0].names.techseller.name %> ">
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.techseller.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.techseller.idnotes %>" readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %>" readonly>
                                </div>
                            </div>
                            <!--                                        Cloud PM Row -->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Cloud PM Name" id="name_seller" type="text" class="validate" readonly value="<%= project.history[0].names.cloudpm.name %>">
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.cloudpm.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.cloudpm.idnotes %>" readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %>" readonly>
                                </div>
                            </div>
                            <!--                                    Local PM row-->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Local PM Name" id="name_seller" type="text" class="validate" readonly value="<%= project.history[0].names.localpm.name %>">
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.localpm.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.localpm.idnotes %>" readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %>" readonly>
                                </div>
                            </div>
                            <!--                                        Cloud DPE-->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Local DPE Name" id="localdpe_name" type="text" class="validate" readonly value="<%= project.history[0].names.cloudpe.name %>">
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.cloudpe.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.cloudpe.idnotes %>" readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %>" readonly>
                                </div>
                            </div>
                            <!--                                        Customer -->
                            <div class="row">
                                <div class="input-field inline col s3 ">
                                    <input placeholder="Customer" id="name_seller" type="text" class="validate" readonly value="<%= project.history[0].names.customer.name %>">
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="email" type="text" class="validate" value="<%= project.history[0].names.customer.email %>" readonly>
                                </div>
                                <div class="input-field inline  col s3">
                                    <input id="idnotes" type="text" class="validate" value="<%= project.history[0].names.customer.idnotes %>" readonly>
                                </div>
                                <div class="input-field inline col s3">
                                    <input id="Phone" type="text" class="validate" value="<%= project.history[0].names.seller.phone %>" readonly>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!--                                        Status Tab-->
                <div class="col-xs-6" id="test-swipe-4">
                    <form action="#" method="post">
                        <fieldset>
                            <!--                                    <span class="card-title" style="text-align: center !important; font-size: 16pt !important;"> Edite seu projeto</span>-->

                            <div class="form-group">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="formulario">Last Actions </label>
                                        <textarea class="materialize-textarea" name="story" id="textarea1" readonly><%= project.history[0].story %>
                                            </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="formulario">G2G </label>
                                        <input type="text" name="customer" class="form-control" value="<%= project.history[0].g2g %>" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="formulario">Offer </label>
                                        <input type="text" name="customer" class="form-control" value="<%= project.history[0].offer %>" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="formulario">Owner </label>
                                        <input type="text" name="customer" class="form-control" value="<%= project.history[0].owner %>" readonly>
                                    </div>
                                </div>


                            </div>




                        </fieldset>
                    </form>
                </div>
        </div>
        </section>




        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel red z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s7">
              <span class="black-text">
                <h4> 
                  This Project is Closed. 
                </h4>
              </span>
            </div>
          </div>
        </div>
      </div>
                                            
        <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light blue darken-4" href="/getprojects">
                <svg class="icon-carbon" viewBox='0 0 16 14' fill-rule='evenodd'><path d='M3.4 8H16V6H3.3l5-4.7L7 0 0 7l7 7 1.3-1.3z'></path></svg></a>
        </div>
        
    </main>

</body>

</html>
