<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Cloud Onboarding Tracker</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="style/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="scripts/user.js"></script>
    <script src="scripts/util.js"></script>


</head>

<body>

    <input type="hidden" id="user" value="<%= JSON.stringify(user) %>" />

    <form action="/auth" method="get" id="form">
    </form>
    <div class="center">

        <div class="preloader-wrapper big active" style="margin-top: 25%; margin-bottom: 25%; ">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        setSession('userInfo', JSON.parse(document.getElementById('user').value));
        function submitform() {
                    document.forms["form"].submit();
        }
        submitform();

    </script>
    
    <h3> Reload this page if it takes a long time. </h3>
</body>

</html>
